<h1 class="title" data-aos="zoom-in" data-aos-duration="1000"> Contato </h1>

<div class="container" data-aos="zoom-in" data-aos-duration="1200">

    <p>Entre em contato pelas redes sociais abaixo ou me envie um e-mail, basta clicar na opção desejada ;D</p>

    <div class="social">
            <i class="devicon-github-original" id="github" onclick="window.open('https://github.com/lmartins12', '_blank')"></i>
  
            <i class="devicon-linkedin-plain" id="linkedin" onclick="window.open('https://www.linkedin.com/in/lucas-martins-0743b1190/', '_blank')"></i>

            <mat-icon id="email" onclick="window.open('mailto:lucas.martins559@outlook.com', '_blank')">email</mat-icon>
    </div>

</div>
