<div class="container">
    <h1 class="title" data-aos="zoom-in" data-aos-duration="1000"> Sobre mim </h1>

    <div class="social" data-aos="zoom-in" data-aos-duration="1000">

        <i class="devicon-github-original" id="github" onclick="window.open('https://github.com/lmartins12', '_blank')"></i>

        <i class="devicon-linkedin-plain" id="linkedin" onclick="window.open('https://www.linkedin.com/in/lucas-martins-0743b1190/', '_blank')"></i>

    </div>

    <div class="content" data-aos="zoom-in" data-aos-duration="1200">
      <div class="text">
        <p>
            Meu nome é Lucas Martins, sou um Engenheiro de Software iniciante. 
            Estou cursando Desenvolvimento de Sistemas e me especializando em Desenvolvimento Web com Java e Angular. 
            Além disso, ja cursei Psicologia, o que me ajuda a lidar com pessoas e entender suas necessidades. 
            Sou uma pessoa curiosa, apaixonada pela tecnologia e estou sempre em busca de novos conhecimentos e desafios.
        </p>
      </div>
      <div class="photo">
        <img src="assets/profilePic.png" alt="Foto de perfil">
      </div>
    </div>
</div>