<div class="container">
    <h1 class="title"> {{ titleComplete }} </h1>
    <div class="content">
      <div class="text">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Numquam dolor doloribus cum perferendis temporibus, 
            incidunt possimus iusto corrupti, vitae aspernatur hic 
            blanditiis dolores doloremque vero nulla cupiditate accusantium. Nemo, rerum.
        </p>
      </div>
      <div class="photo">
        <img src="assets/profilePic.png" alt="Foto de perfil">
      </div>
    </div>
  </div>