<mat-toolbar>

  <div class="name-music-container">
    <span class="name" (click)="scrollToComponent('home')">lm</span>
    <button class="music" (click)="pause()">
      <mat-icon style="color: #f3f3f38e; text-shadow: #e45327 0px 0 10px; height: auto; width: auto; font-size: 22px;">music_note</mat-icon>
    </button>
  </div>

  <button mat-icon-button class="hamburger-menu" (click)="showMenu()">
      <mat-icon style="color: #f3f3f38e; text-shadow: #e45327 0px 0 10px; height: auto; width: auto; font-size: 36px;">menu</mat-icon>
  </button>

    <div class="menu-overlay" [class.open]="menuOpen" (click)="closeMenu()"></div>
    <div class="menu" [class.open]="menuOpen">
        <button mat-button (click)="scrollToComponent('home'); closeMenu()">Home</button>
        <button mat-button (click)="scrollToComponent('about'); closeMenu()">Sobre</button>
        <button mat-button (click)="scrollToComponent('skills'); closeMenu()">Habilidades</button>
        <button mat-button (click)="scrollToComponent('projects'); closeMenu()">Projetos</button>
        <button mat-button (click)="scrollToComponent('contact'); closeMenu()">Contato</button>
    </div>


  <div class="toolbar-buttons">
      <button mat-button (click)="scrollToComponent('home')">
          <mat-icon>home</mat-icon>
      </button>
      <button mat-button (click)="scrollToComponent('about')">Sobre</button>
      <button mat-button (click)="scrollToComponent('skills')">Habilidades</button>
      <button mat-button (click)="scrollToComponent('projects')">Projetos</button>
      <button mat-button (click)="scrollToComponent('contact')">Contato</button>
  </div>
</mat-toolbar>
