mat-toolbar {
    width: 100%;
    background-color: rgba(15, 15, 15, 0.515);
    justify-content: start;
    padding: 16px;
}

.name {
    color: #f3f3f38e;
    text-shadow: #e45327 0px 0 10px;
    font-size: 32px;
    font-family: 'Chakra Petch', sans-serif;
    margin-left: 50px;
    float: left;
}
  
.toolbar-buttons {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Rajdhani', sans-serif;
    gap: 24px;
}
    
button{
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.toolbar-buttons button {
    color: rgb(224, 224, 224);
    font-size: 18px;
    transition: all 0.2s ease-in-out;
}

.toolbar-buttons button:hover {
    transform: scale(1.2);
}

.toolbar-buttons button:active {
    color: #e45327;
}

@media (max-width: 1000px) {
    mat-toolbar {
        height: 125px;
        padding: 0;
        align-items: start;
      }

    .name { 
        margin: 18px auto;
    }

    .toolbar-buttons {
        display: flex;
        justify-content: center;
        gap: 8px;
        margin-top: 72px;
    }
    
    .toolbar-buttons button {
        color: rgb(224, 224, 224);
        font-size: 18px;
        transition: all 0.2s ease-in-out;
    }
}