.title {
    font-family: 'Chakra Petch', sans-serif;
    text-shadow: #e45327 0px 0 15px;
    color: rgb(0, 0, 0);
    font-size: 4rem;
    margin: 10px 0px 15px;
    filter: blur(10px);
    animation: blur-out 1s forwards;
    text-align: center;
}

.nav-buttons {
  display: flex;
  justify-content: center;
  gap: 30%;
  align-items: center;
  margin: 30px 0px 25px;
  filter: blur(10px);
  animation: blur-out 1s forwards;
}

.nav-buttons button {
  color: rgb(224, 224, 224);
  font-size: 18px;
  font-family: 'Rajdhani', sans-serif;
  transition: all 0.2s ease-in-out;
  background-color: transparent;
  border: none;
  box-shadow: none;
  text-shadow: #e45327 0px 0 15px;
}

.nav-buttons button:hover {
  transform: scale(1.2);
}

.nav-buttons button:active {
  color: #e45327;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  border-radius: 15px;
  max-width: 40%;
  height: auto;
  filter: blur(10px);
  box-shadow: 0px 0px 25px #e45327;
  animation: blur-out 1.5s forwards;
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: zoom-in 1s ease-in-out;
}

.project-selected {
  opacity: 1;
}

.project-hidden {
  display: none;
}

.project-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  transition: opacity 1s ease;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
  border-radius: 15px;
}

.project:hover .project-info {
  opacity: 1;
}

.project-info h2 {
  margin-bottom: 10px;
}

.project-info a {
  display: inline-block;
  margin-top: 10px;
  background-color: #e45327;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
}

@keyframes blur-out {
    0% { filter: blur(10px); opacity: 0; }
    100% { filter: none; opacity: 1; }
}

@keyframes zoom-in {
  0% {
    transform: scale(0.7);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@media screen and (max-width: 1000px) {
  .title{
      font-size: 48px;
  }
  .nav-buttons{
    gap: 50%;
  }
  img {
    max-width: 90%;
    height: auto;
  }
}