.title {
    font-family: 'Chakra Petch', sans-serif;
    text-shadow: #e45327 0px 0 15px;
    color: rgb(0, 0, 0);
    font-size: 4rem;
    margin-top: 32px;
    text-align: center;
}

.nav-buttons {
  display: flex;
  justify-content: center;
  gap: 30%;
  align-items: center;
  margin: 30px 0px 25px;
}

.nav-buttons button {
  color: rgb(224, 224, 224);
  font-size: 18px;
  font-family: 'Rajdhani', sans-serif;
  transition: all 0.2s ease-in-out;
  background-color: transparent;
  border: none;
  box-shadow: none;
  text-shadow: #e45327 0px 0 15px;
}

.nav-buttons button:hover {
  transform: scale(1.2);
}

.nav-buttons button:active {
  color: #e45327;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 100%;
  height: auto;
}

.image-container {
  min-height: 260px;
  box-shadow: 0px 0px 25px #e45327;
  border-radius: 15px;
  position: relative;
  max-width: 35%; 
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 0px 0px 25px #e45327;
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: zoom-in 1s ease-in-out;
}

.project-selected {
  opacity: 1;
}

.project-hidden {
  display: none;
}

.project-info {
  position: absolute;
  max-width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease;
  background-color: rgb(0, 0, 0);
  background: linear-gradient(0deg, 
    rgba(0,0,0,1) 0%,
    rgba(0,0,0,0.9500175070028011) 50%, 
    rgba(0,0,0,0.8995973389355743) 80%, 
    rgba(0,0,0,0.7455357142857143) 100%);
  color: white;
  padding: 0 20px 40px;
  border-radius: 15px;
}

.image-container:hover .project-info {
  opacity: 1;
}

.project-info h3 {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 36px;
  margin-bottom: 5px;
  color: rgb(224, 224, 224);
  text-shadow: #e45327 0px 0 15px;
  margin-top: 12px;
}

.project-info p {
  font-family: 'Prompt', sans-serif;
  color: #e45327;
  text-shadow: #000000ec 0px 0 5px;
  margin-bottom: 0;
}

.project-info a {
  display: inline-block;
  margin-top: 10px;
  font-family: 'Prompt', sans-serif;
  color: rgb(241, 241, 241);
  text-shadow: #ffffff 0px 0 15px;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
}

@keyframes zoom-in {
  0% {
    transform: scale(0.7);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@media screen and (max-width: 1000px) {
  .title{
      font-size: 48px;
      margin-top: 20px; margin-bottom: 0px;
  }
  .nav-buttons{
    gap: 50%;
  }
  .image-container {
    min-height: 200px;
    max-width: 90%;
  }
  .project-info {
    height: 90%;
    padding: 0 10px 40px;
  }
  .project-info h3 {
    font-size: 22px;
  }
  .project-info p {
    font-size: 14px;
  }
}