app-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

app-home {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh;
}

app-contact {
    display: block;
    height: 80vh;
    padding: 130px 0 0;
}

app-about-me, app-skills, app-projects {
    display: block;
    min-height: 100vh;
    padding: 130px 0 0;
}

::ng-deep ::-webkit-scrollbar {
    width: 10px; /* Largura da barra de rolagem */
}

::ng-deep ::-webkit-scrollbar-track {
    background: transparent;
}

::ng-deep ::-webkit-scrollbar-thumb {
    background: #1a1a1a;
    border-radius: 5px;
}

@media screen and (max-height: 768px) {
    app-about-me, app-skills, app-projects, app-contact {
        padding: 70px 0 0;
    }

    app-contact {
        height: 90vh;
    }
}