<body>


    <h1 class="title"> Habilidades </h1>

    <div class="container">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis possimus vero facere soluta ad amet minima</p>

        <div class="allSkills">

            <div class="softSkills">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos sed exercitationem veniam deleniti mollitia nemo tempore, 
                    delectus, fuga ipsa cumque accusamus. Delectus minima voluptate voluptatibus ipsam distinctio repellat excepturi qui!
                </p>
            </div>

            <div class="hardSkills">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus voluptatem harum quisquam modi voluptate impedit. 
                    Architecto magni unde nihil, laborum ullam sequi itaque veritatis ex maxime amet asperiores beatae minus.
                </p>
            </div>

        </div>

    </div>


</body>
