.title {
    font-family: 'Chakra Petch', sans-serif;
    text-shadow: #e45327 0px 0 15px;
    color: rgb(0, 0, 0);
    font-size: 4rem;
    margin-top: 32px;
    text-align: center;
  }

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: aliceblue;
}

.container p {
  margin: 10px 10px 20px;
}

.allSkills{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #161616;
  border-radius: 5px;
  color: #fff;
  font-size: 24px;
  text-align: center;
  padding: 25px;
  margin: 20px;
}

@media screen and (max-width: 1000px) {
    .title{
        font-size: 48px;
        margin-top: 20px;
    }
    .container p {
      margin: 0px 20px 20px;
    }
}